@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin-left: 0.125%;
  margin-right: 0.125%;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.email-p-tag {
  margin-bottom: var(--p-spacing1);
  font-size: var(--fontSizeSm);
  color: #30313d;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  --accessibleColorOnColorPrimary: #fff;
  --p-colorPrimaryHover: #0b81fa;
  --p-colorPrimaryActive: #228cfa;
  --p-colorPrimaryAlpha20: hsla(210, 96%, 45%, 25%);
  --p-colorPrimaryAlpha40: hsla(210, 96%, 45%, 40%);
  --p-colorPrimaryAlpha50: hsla(210, 96%, 45%, 50%);
  --p-colorPrimaryDisabled: #d9d9d9;
  --p-colorPrimaryDisabledText: #8d8d8d;
  --accessibleColorOnColorBackground: #30313d;
  --p-colorBackgroundDivider: #f2f2f2;
  --p-colorBackgroundDisabled: #f2f2f2;
  --p-colorBackgroundDisabledDeemphasize05: #e6e6e6;
  --p-colorBackgroundDeemphasize03: #f7f7f7;
  --p-colorBackgroundDeemphasize05: #f2f2f2;
  --p-colorBackgroundDeemphasize10: #e6e6e6;
  --p-colorBackgroundDeemphasize15: #d9d9d9;
  --p-colorBackgroundDeemphasize20: #cccccc;
  --p-colorBackgroundLightenAbsolute05: #ffffff;
  --p-colorBackgroundContrastAlpha05: rgba(0, 0, 0, 0.05);
  --p-colorBackgroundContrastAlpha08: rgba(0, 0, 0, 0.08);
  --p-colorBackgroundContrastAlpha30: rgba(0, 0, 0, 0.3);
  --colorTextSecondary: #6d6e78;
  --colorTextPlaceholder: #757680;
  --accessibleColorOnColorSuccess: #fff;
  --accessibleColorOnColorDanger: #fff;
  --accessibleColorOnColorWarning: #30313d;
  --p-linkProtectionsBadgeBackground: #1d3944;
  --p-linkProtectionsBadgeColor: #fff;
  --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fontSmooth: always;
  --fontVariantLigatures: normal;
  --fontVariationSettings: normal;
  --fontLineHeight: 1.45;
  --fontSizeBase: 1rem;
  --fontSizeSm: 0.93rem;
  --fontSizeXs: 0.875rem;
  --fontSize2Xs: 0.8125rem;
  --fontSize3Xs: 0.75rem;
  --fontSizeLg: 1.0625rem;
  --fontSizeXl: 1.125rem;
  --fontSize2Xl: 1.25rem;
  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightMedium: 600;
  --fontWeightBold: bold;
  --colorPrimary: #0570de;
  --colorBackground: #fff;
  --colorText: #30313d;
  --colorSuccess: #30b130;
  --colorDanger: #df1b41;
  --colorWarning: #f6e6b9;
  --iconColor: var(--colorTextSecondary);
  --iconHoverColor: var(--colorText);
  --iconCheckmarkColor: var(--colorPrimaryText);
  --iconCardErrorColor: var(--colorDanger);
  --iconCardCvcColor: var(--iconColor);
  --iconCardCvcErrorColor: var(--colorDanger);
  --iconChevronDownColor: var(--iconColor);
  --iconChevronDownHoverColor: var(--iconHoverColor);
  --iconCloseColor: var(--iconColor);
  --iconCloseHoverColor: var(--iconHoverColor);
  --iconLoadingIndicatorColor: var(--p-colorBackgroundContrastAlpha30);
  --iconMenuColor: var(--colorPrimary);
  --iconMenuHoverColor: var(--iconMenuColor);
  --iconMenuOpenColor: var(--iconMenuColor);
  --iconPasscodeDeviceColor: var(--iconColor);
  --iconPasscodeDeviceHoverColor: var(--iconHoverColor);
  --iconPasscodeDeviceNotificationColor: var(--colorPrimary);
  --iconRedirectColor: currentColor;
  --tabIconColor: var(--iconColor);
  --tabIconHoverColor: var(--colorText);
  --tabIconSelectedColor: var(--colorPrimary);
  --tabIconMoreColor: var(--iconColor);
  --tabIconMoreHoverColor: var(--colorText);
  --spacingUnit: 0.25rem;
  --gridRowSpacing: var(--p-spacing3);
  --gridColumnSpacing: var(--p-spacing3);
  --tabSpacing: var(--p-spacing1);
  --pickerItemSpacing: var(--p-spacing2);
  --accordionItemSpacing: var(--p-spacing2);
  --borderRadius: 5px;
  --focusBoxShadow: 0 0 0 3px var(--p-colorPrimaryAlpha20),
    0 1px 1px 0 var(--p-colorBackgroundContrastAlpha08);
  --focusOutline: 0px;
  --spacingGridRow: var(--gridRowSpacing);
  --spacingGridColumn: var(--gridColumnSpacing);
  --spacingTab: var(--tabSpacing);
  --spacingPickerItem: var(--pickerItemSpacing);
  --spacingAccordionItem: var(--accordionItemSpacing);
  --colorPrimaryText: var(--accessibleColorOnColorPrimary);
  --colorBackgroundText: var(--accessibleColorOnColorBackground);
  --colorSuccessText: var(--accessibleColorOnColorSuccess);
  --colorDangerText: var(--accessibleColorOnColorDanger);
  --colorWarningText: var(--accessibleColorOnColorWarning);
  --colorIcon: var(--iconColor);
  --colorIconHover: var(--iconHoverColor);
  --colorIconCardError: var(--iconCardErrorColor);
  --colorIconCardCvc: var(--iconCardCvcColor);
  --colorIconCardCvcError: var(--iconCardCvcErrorColor);
  --colorIconCheckmark: var(--iconCheckmarkColor);
  --colorIconChevronDown: var(--iconChevronDownColor);
  --colorIconChevronDownHover: var(--iconChevronDownHoverColor);
  --colorIconClose: var(--iconCloseColor);
  --colorIconCloseHover: var(--iconCloseHoverColor);
  --colorIconLoadingIndicator: var(--iconLoadingIndicatorColor);
  --colorIconMenu: var(--iconMenuColor);
  --colorIconMenuHover: var(--iconMenuHoverColor);
  --colorIconMenuOpen: var(--iconMenuOpenColor);
  --colorIconPasscodeDevice: var(--iconPasscodeDeviceColor);
  --colorIconPasscodeDeviceHover: var(--iconPasscodeDeviceHoverColor);
  --colorIconPasscodeDeviceNotification: var(
    --iconPasscodeDeviceNotificationColor
  );
  --colorIconRedirect: var(--iconRedirectColor);
  --colorIconTab: var(--tabIconColor);
  --colorIconTabHover: var(--tabIconHoverColor);
  --colorIconTabSelected: var(--tabIconSelectedColor);
  --colorIconTabMore: var(--tabIconMoreColor);
  --colorIconTabMoreHover: var(--tabIconMoreHoverColor);
  --colorLogo: var(--logoColor);
  --colorLogoTab: var(--tabLogoColor);
  --colorLogoTabSelected: var(--tabLogoSelectedColor);
  --colorLogoBlock: var(--blockLogoColor);
  --p-spacingXs: 1px;
  --p-spacingSm: 2px;
  --p-spacing1: 0.25rem;
  --p-spacing2: 0.5rem;
  --p-spacing3: 0.75rem;
  --p-spacing4: 1rem;
  --p-spacing5: 1.25rem;
  --p-spacing6: 1.5rem;
  --p-spacing7: 1.75rem;
  --p-spacing8: 2rem;
  --p-spacing9: 2.25rem;
  --p-spacing10: 2.5rem;
  --p-logoLightDisplay: block;
  --p-logoDarkDisplay: none;
  --p-logoTabLightDisplay: block;
  --p-logoTabDarkDisplay: none;
  --p-logoTabSelectedLightDisplay: block;
  --p-logoTabSelectedDarkDisplay: none;
  --p-logoBlockLightDisplay: block;
  --p-logoBlockDarkDisplay: none;
  -webkit-font-smoothing: antialiased;
}

.email-input-error {
  color: var(--colorDanger) !important;
  border-color: var(--colorDanger) !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02),
    0 0 0 1px var(--colorDanger) !important;
}

.email-error-message {
  margin-top: var(--p-spacing1);
  color: var(--colorDanger);
  font-size: var(--fontSizeSm);
  --c-inputPaddingTop: 12px;
  --c-inputPaddingRight: 12px;
  --c-inputPaddingBottom: 12px;
  --c-inputPaddingLeft: 12px;
  --c-inputBorderTopWidth: 1px;
  --c-inputBorderRightWidth: 1px;
  --c-inputBorderBottomWidth: 1px;
  --c-inputBorderLeftWidth: 1px;
  --c-inputDividerWidth: 1px;
  --c-inputDividerBackgroundColor: rgb(230, 230, 230);
  --c-inputBorderTopLeftRadius: 5px;
  --c-inputBorderTopRightRadius: 5px;
  --c-inputBorderBottomRightRadius: 5px;
  --c-inputBorderBottomLeftRadius: 5px;
  --c-inputFontSize: 16px;
  --c-inputFontColor: rgb(48, 49, 61);
  --c-blockPaddingTop: 12px;
  --c-blockPaddingRight: 12px;
  --c-blockPaddingBottom: 12px;
  --c-blockPaddingLeft: 12px;
  --c-blockBackgroundColor: rgb(255, 255, 255);
  --c-blockDividerWidth: 1px;
  --c-blockDividerBackgroundColor: rgb(230, 230, 230);
  --c-dropdownDividerWidth: 1px;
  --c-dropdownDividerBackgroundColor: rgb(230, 230, 230);
  --c-dropdownItemBackgroundColor: rgb(255, 255, 255);
  --c-pickerItemPaddingTop: 12px;
  --c-pickerItemPaddingRight: 12px;
  --c-pickerItemPaddingBottom: 12px;
  --c-pickerItemPaddingLeft: 12px;
  --c-pickerItemBackgroundColor: rgb(255, 255, 255);
  --c-pickerItemHoveredBackgroundColor: rgb(247, 247, 247);
  --c-pickerItemFocusedBackgroundColor: rgb(255, 255, 255);
  --c-pickerItemSelectedBackgroundColor: rgb(255, 255, 255);
  --c-pickerItemSelectedHoveredBackgroundColor: rgb(255, 255, 255);
  --c-pickerItemHighlightBackgroundColor: rgb(255, 255, 255);
  --c-pickerItemHighlightHoveredBackgroundColor: rgb(247, 247, 247);
  --c-pickerItemHighlightFocusedBackgroundColor: rgb(255, 255, 255);
  --c-pickerItemDisabledBackgroundColor: rgb(230, 230, 230);
  --c-pickerItemDisabledHoveredBackgroundColor: rgb(230, 230, 230);
  --c-pickerItemDisabledFocusedBackgroundColor: rgb(230, 230, 230);
  --c-pickerItemTransitionDelay: 0s, 0s, 0s, 0s;
  --c-pickerItemTransitionDuration: 0.15s, 0.15s, 0.15s, 0.15s;
  --c-pickerItemTransitionProperty: background, box-shadow, border, color;
  --c-pickerItemTransitionTimingFunction: ease, ease, ease, ease;
  --c-actionPaddingTop: 4px;
  --c-actionPaddingRight: 6px;
  --c-actionPaddingBottom: 4px;
  --c-actionPaddingLeft: 6px;
  --c-labelRestingFontSize: 16px;
  --c-labelFloatingHeight: 20.0938px;
  --c-labelFloatingTransform: translateY(13px) scale(0.8888888888888888);
  --c-labelRestingTransform: translateY(23px) scale(1);
  --c-inputFloatingPaddingTop: 32px;
  --c-inputFloatingMarginLeft: 13px;
  --c-inputFloatingMarginRight: 13px;
  --c-acItemPaddingTop: 16px;
  --c-acItemPaddingRight: 16px;
  --c-acItemPaddingBottom: 16px;
  --c-acItemPaddingLeft: 16px;
  --c-acItemBorderTopWidth: 1px;
  --c-acItemBorderRightWidth: 1px;
  --c-acItemBorderBottomWidth: 1px;
  --c-acItemBorderLeftWidth: 1px;
  --c-acItemBorderWidth: 1px;
  --c-acItemBorderColor: rgb(230, 230, 230);
  --c-acItemBorderStyle: solid;
  --c-acItemBorderRadius: 5px;
  --c-acItemBorderTopLeftRadius: 5px;
  --c-acItemBorderTopRightRadius: 5px;
  --c-acItemBorderBottomRightRadius: 5px;
  --c-acItemBorderBottomLeftRadius: 5px;
  --c-acItemBackgroundColor: rgb(255, 255, 255);
  --c-acItemColor: rgb(109, 110, 120);
  --c-acBoxShadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.02) 0px 3px 6px 0px;
  --c-acOutline: rgb(109, 110, 120) none 0px;
  --c-acItemFont: 600 14px / 16.1px -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --c-acItemHoveredBackgroundColor: rgb(255, 255, 255);
  --c-acItemHoveredColor: rgb(48, 49, 61);
  --c-acItemHoveredOutline: rgb(48, 49, 61) none 0px;
  --c-acItemHoveredBorderColor: rgb(230, 230, 230);
  --c-acItemFocusedBackgroundColor: rgb(255, 255, 255);
  --c-acItemFocusedColor: rgb(109, 110, 120);
  --c-acItemFocusedOutline: rgb(109, 110, 120) none 0px;
  --c-acItemFocusedBoxShadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.02) 0px 3px 6px 0px, rgba(5, 115, 225, 0.25) 0px 0px 0px 3px,
    rgba(0, 0, 0, 0.08) 0px 1px 1px 0px;
  --c-acItemFocusedBorderColor: rgba(5, 115, 225, 0.5);
  --c-acItemSelectedBackgroundColor: rgb(255, 255, 255);
  --c-acItemSelectedColor: rgb(5, 112, 222);
  --c-acItemSelectedBorderColor: rgb(230, 230, 230);
  --c-acItemSelectedHoveredBackgroundColor: rgb(255, 255, 255);
  --c-acItemSelectedHoveredBorderColor: rgb(230, 230, 230);
  --c-acItemSelectedHoveredColor: rgb(5, 112, 222);
  --p-pickerItemBackgroundColorDeemphasize03: rgb(247, 247, 247);
  --p-pickerItemBackgroundColorDeemphasize05: rgb(242, 242, 242);
  --accessibleColorOnColorPrimary: #fff;
  --p-colorPrimaryHover: #0b81fa;
  --p-colorPrimaryActive: #228cfa;
  --p-colorPrimaryAlpha20: hsla(210, 96%, 45%, 25%);
  --p-colorPrimaryAlpha40: hsla(210, 96%, 45%, 40%);
  --p-colorPrimaryAlpha50: hsla(210, 96%, 45%, 50%);
  --p-colorPrimaryDisabled: #d9d9d9;
  --p-colorPrimaryDisabledText: #8d8d8d;
  --accessibleColorOnColorBackground: #30313d;
  --p-colorBackgroundDivider: #f2f2f2;
  --p-colorBackgroundDisabled: #f2f2f2;
  --p-colorBackgroundDisabledDeemphasize05: #e6e6e6;
  --p-colorBackgroundDeemphasize03: #f7f7f7;
  --p-colorBackgroundDeemphasize05: #f2f2f2;
  --p-colorBackgroundDeemphasize10: #e6e6e6;
  --p-colorBackgroundDeemphasize15: #d9d9d9;
  --p-colorBackgroundDeemphasize20: #cccccc;
  --p-colorBackgroundLightenAbsolute05: #ffffff;
  --p-colorBackgroundContrastAlpha05: rgba(0, 0, 0, 0.05);
  --p-colorBackgroundContrastAlpha08: rgba(0, 0, 0, 0.08);
  --p-colorBackgroundContrastAlpha30: rgba(0, 0, 0, 0.3);
  --colorTextSecondary: #6d6e78;
  --colorTextPlaceholder: #757680;
  --accessibleColorOnColorSuccess: #fff;
  --accessibleColorOnColorDanger: #fff;
  --accessibleColorOnColorWarning: #30313d;
  --p-linkProtectionsBadgeBackground: #1d3944;
  --p-linkProtectionsBadgeColor: #fff;
  --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fontSmooth: always;
  --fontVariantLigatures: normal;
  --fontVariationSettings: normal;
  --fontLineHeight: 1.45;
  --fontSizeBase: 1rem;
  --fontSizeSm: 0.93rem;
  --fontSizeXs: 0.875rem;
  --fontSize2Xs: 0.8125rem;
  --fontSize3Xs: 0.75rem;
  --fontSizeLg: 1.0625rem;
  --fontSizeXl: 1.125rem;
  --fontSize2Xl: 1.25rem;
  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightMedium: 600;
  --fontWeightBold: bold;
  --colorPrimary: #0570de;
  --colorBackground: #fff;
  --colorText: #30313d;
  --colorSuccess: #30b130;
  --colorDanger: #df1b41;
  --colorWarning: #f6e6b9;
  --iconColor: var(--colorTextSecondary);
  --iconHoverColor: var(--colorText);
  --iconCheckmarkColor: var(--colorPrimaryText);
  --iconCardErrorColor: var(--colorDanger);
  --iconCardCvcColor: var(--iconColor);
  --iconCardCvcErrorColor: var(--colorDanger);
  --iconChevronDownColor: var(--iconColor);
  --iconChevronDownHoverColor: var(--iconHoverColor);
  --iconCloseColor: var(--iconColor);
  --iconCloseHoverColor: var(--iconHoverColor);
  --iconLoadingIndicatorColor: var(--p-colorBackgroundContrastAlpha30);
  --iconMenuColor: var(--colorPrimary);
  --iconMenuHoverColor: var(--iconMenuColor);
  --iconMenuOpenColor: var(--iconMenuColor);
  --iconPasscodeDeviceColor: var(--iconColor);
  --iconPasscodeDeviceHoverColor: var(--iconHoverColor);
  --iconPasscodeDeviceNotificationColor: var(--colorPrimary);
  --iconRedirectColor: currentColor;
  --tabIconColor: var(--iconColor);
  --tabIconHoverColor: var(--colorText);
  --tabIconSelectedColor: var(--colorPrimary);
  --tabIconMoreColor: var(--iconColor);
  --tabIconMoreHoverColor: var(--colorText);
  --spacingUnit: 0.25rem;
  --gridRowSpacing: var(--p-spacing3);
  --gridColumnSpacing: var(--p-spacing3);
  --tabSpacing: var(--p-spacing1);
  --pickerItemSpacing: var(--p-spacing2);
  --accordionItemSpacing: var(--p-spacing2);
  --borderRadius: 5px;
  --focusBoxShadow: 0 0 0 3px var(--p-colorPrimaryAlpha20),
    0 1px 1px 0 var(--p-colorBackgroundContrastAlpha08);
  --focusOutline: 0px;
  --spacingGridRow: var(--gridRowSpacing);
  --spacingGridColumn: var(--gridColumnSpacing);
  --spacingTab: var(--tabSpacing);
  --spacingPickerItem: var(--pickerItemSpacing);
  --spacingAccordionItem: var(--accordionItemSpacing);
  --colorPrimaryText: var(--accessibleColorOnColorPrimary);
  --colorBackgroundText: var(--accessibleColorOnColorBackground);
  --colorSuccessText: var(--accessibleColorOnColorSuccess);
  --colorDangerText: var(--accessibleColorOnColorDanger);
  --colorWarningText: var(--accessibleColorOnColorWarning);
  --colorIcon: var(--iconColor);
  --colorIconHover: var(--iconHoverColor);
  --colorIconCardError: var(--iconCardErrorColor);
  --colorIconCardCvc: var(--iconCardCvcColor);
  --colorIconCardCvcError: var(--iconCardCvcErrorColor);
  --colorIconCheckmark: var(--iconCheckmarkColor);
  --colorIconChevronDown: var(--iconChevronDownColor);
  --colorIconChevronDownHover: var(--iconChevronDownHoverColor);
  --colorIconClose: var(--iconCloseColor);
  --colorIconCloseHover: var(--iconCloseHoverColor);
  --colorIconLoadingIndicator: var(--iconLoadingIndicatorColor);
  --colorIconMenu: var(--iconMenuColor);
  --colorIconMenuHover: var(--iconMenuHoverColor);
  --colorIconMenuOpen: var(--iconMenuOpenColor);
  --colorIconPasscodeDevice: var(--iconPasscodeDeviceColor);
  --colorIconPasscodeDeviceHover: var(--iconPasscodeDeviceHoverColor);
  --colorIconPasscodeDeviceNotification: var(
    --iconPasscodeDeviceNotificationColor
  );
  --colorIconRedirect: var(--iconRedirectColor);
  --colorIconTab: var(--tabIconColor);
  --colorIconTabHover: var(--tabIconHoverColor);
  --colorIconTabSelected: var(--tabIconSelectedColor);
  --colorIconTabMore: var(--tabIconMoreColor);
  --colorIconTabMoreHover: var(--tabIconMoreHoverColor);
  --colorLogo: var(--logoColor);
  --colorLogoTab: var(--tabLogoColor);
  --colorLogoTabSelected: var(--tabLogoSelectedColor);
  --colorLogoBlock: var(--blockLogoColor);
  --p-spacingXs: 1px;
  --p-spacingSm: 2px;
  --p-spacing1: 0.25rem;
  --p-spacing2: 0.5rem;
  --p-spacing3: 0.75rem;
  --p-spacing4: 1rem;
  --p-spacing5: 1.25rem;
  --p-spacing6: 1.5rem;
  --p-spacing7: 1.75rem;
  --p-spacing8: 2rem;
  --p-spacing9: 2.25rem;
  --p-spacing10: 2.5rem;
  --p-logoLightDisplay: block;
  --p-logoDarkDisplay: none;
  --p-logoTabLightDisplay: block;
  --p-logoTabDarkDisplay: none;
  --p-logoTabSelectedLightDisplay: block;
  --p-logoTabSelectedDarkDisplay: none;
  --p-logoBlockLightDisplay: block;
  --p-logoBlockDarkDisplay: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.email-input {
  padding: var(--p-spacing3);
  background-color: var(--colorBackground);
  border-radius: var(--borderRadius);
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
  border: 1px solid var(--p-colorBackgroundDeemphasize10);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
  width: 100%;
  --accessibleColorOnColorPrimary: #fff;
  --p-colorPrimaryHover: #0b81fa;
  --p-colorPrimaryActive: #228cfa;
  --p-colorPrimaryAlpha20: hsla(210, 96%, 45%, 25%);
  --p-colorPrimaryAlpha40: hsla(210, 96%, 45%, 40%);
  --p-colorPrimaryAlpha50: hsla(210, 96%, 45%, 50%);
  --p-colorPrimaryDisabled: #d9d9d9;
  --p-colorPrimaryDisabledText: #8d8d8d;
  --accessibleColorOnColorBackground: #30313d;
  --p-colorBackgroundDivider: #f2f2f2;
  --p-colorBackgroundDisabled: #f2f2f2;
  --p-colorBackgroundDisabledDeemphasize05: #e6e6e6;
  --p-colorBackgroundDeemphasize03: #f7f7f7;
  --p-colorBackgroundDeemphasize05: #f2f2f2;
  --p-colorBackgroundDeemphasize10: #e6e6e6;
  --p-colorBackgroundDeemphasize15: #d9d9d9;
  --p-colorBackgroundDeemphasize20: #cccccc;
  --p-colorBackgroundLightenAbsolute05: #ffffff;
  --p-colorBackgroundContrastAlpha05: rgba(0, 0, 0, 0.05);
  --p-colorBackgroundContrastAlpha08: rgba(0, 0, 0, 0.08);
  --p-colorBackgroundContrastAlpha30: rgba(0, 0, 0, 0.3);
  --colorTextSecondary: #6d6e78;
  --colorTextPlaceholder: #757680;
  --accessibleColorOnColorSuccess: #fff;
  --accessibleColorOnColorDanger: #fff;
  --accessibleColorOnColorWarning: #30313d;
  --p-linkProtectionsBadgeBackground: #1d3944;
  --p-linkProtectionsBadgeColor: #fff;
  --fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fontSmooth: always;
  --fontVariantLigatures: normal;
  --fontVariationSettings: normal;
  --fontLineHeight: 1.45;
  --fontSizeBase: 1rem;
  --fontSizeSm: 0.93rem;
  --fontSizeXs: 0.875rem;
  --fontSize2Xs: 0.8125rem;
  --fontSize3Xs: 0.75rem;
  --fontSizeLg: 1.0625rem;
  --fontSizeXl: 1.125rem;
  --fontSize2Xl: 1.25rem;
  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightMedium: 600;
  --fontWeightBold: bold;
  --colorPrimary: #0570de;
  --colorBackground: #fff;
  --colorText: #30313d;
  --colorSuccess: #30b130;
  --colorDanger: #df1b41;
  --colorWarning: #f6e6b9;
  --iconColor: var(--colorTextSecondary);
  --iconHoverColor: var(--colorText);
  --iconCheckmarkColor: var(--colorPrimaryText);
  --iconCardErrorColor: var(--colorDanger);
  --iconCardCvcColor: var(--iconColor);
  --iconCardCvcErrorColor: var(--colorDanger);
  --iconChevronDownColor: var(--iconColor);
  --iconChevronDownHoverColor: var(--iconHoverColor);
  --iconCloseColor: var(--iconColor);
  --iconCloseHoverColor: var(--iconHoverColor);
  --iconLoadingIndicatorColor: var(--p-colorBackgroundContrastAlpha30);
  --iconMenuColor: var(--colorPrimary);
  --iconMenuHoverColor: var(--iconMenuColor);
  --iconMenuOpenColor: var(--iconMenuColor);
  --iconPasscodeDeviceColor: var(--iconColor);
  --iconPasscodeDeviceHoverColor: var(--iconHoverColor);
  --iconPasscodeDeviceNotificationColor: var(--colorPrimary);
  --iconRedirectColor: currentColor;
  --tabIconColor: var(--iconColor);
  --tabIconHoverColor: var(--colorText);
  --tabIconSelectedColor: var(--colorPrimary);
  --tabIconMoreColor: var(--iconColor);
  --tabIconMoreHoverColor: var(--colorText);
  --spacingUnit: 0.25rem;
  --gridRowSpacing: var(--p-spacing3);
  --gridColumnSpacing: var(--p-spacing3);
  --tabSpacing: var(--p-spacing1);
  --pickerItemSpacing: var(--p-spacing2);
  --accordionItemSpacing: var(--p-spacing2);
  --borderRadius: 5px;
  --focusBoxShadow: 0 0 0 3px var(--p-colorPrimaryAlpha20),
    0 1px 1px 0 var(--p-colorBackgroundContrastAlpha08);
  --focusOutline: 0px;
  --spacingGridRow: var(--gridRowSpacing);
  --spacingGridColumn: var(--gridColumnSpacing);
  --spacingTab: var(--tabSpacing);
  --spacingPickerItem: var(--pickerItemSpacing);
  --spacingAccordionItem: var(--accordionItemSpacing);
  --colorPrimaryText: var(--accessibleColorOnColorPrimary);
  --colorBackgroundText: var(--accessibleColorOnColorBackground);
  --colorSuccessText: var(--accessibleColorOnColorSuccess);
  --colorDangerText: var(--accessibleColorOnColorDanger);
  --colorWarningText: var(--accessibleColorOnColorWarning);
  --colorIcon: var(--iconColor);
  --colorIconHover: var(--iconHoverColor);
  --colorIconCardError: var(--iconCardErrorColor);
  --colorIconCardCvc: var(--iconCardCvcColor);
  --colorIconCardCvcError: var(--iconCardCvcErrorColor);
  --colorIconCheckmark: var(--iconCheckmarkColor);
  --colorIconChevronDown: var(--iconChevronDownColor);
  --colorIconChevronDownHover: var(--iconChevronDownHoverColor);
  --colorIconClose: var(--iconCloseColor);
  --colorIconCloseHover: var(--iconCloseHoverColor);
  --colorIconLoadingIndicator: var(--iconLoadingIndicatorColor);
  --colorIconMenu: var(--iconMenuColor);
  --colorIconMenuHover: var(--iconMenuHoverColor);
  --colorIconMenuOpen: var(--iconMenuOpenColor);
  --colorIconPasscodeDevice: var(--iconPasscodeDeviceColor);
  --colorIconPasscodeDeviceHover: var(--iconPasscodeDeviceHoverColor);
  --colorIconPasscodeDeviceNotification: var(
    --iconPasscodeDeviceNotificationColor
  );
  --colorIconRedirect: var(--iconRedirectColor);
  --colorIconTab: var(--tabIconColor);
  --colorIconTabHover: var(--tabIconHoverColor);
  --colorIconTabSelected: var(--tabIconSelectedColor);
  --colorIconTabMore: var(--tabIconMoreColor);
  --colorIconTabMoreHover: var(--tabIconMoreHoverColor);
  --colorLogo: var(--logoColor);
  --colorLogoTab: var(--tabLogoColor);
  --colorLogoTabSelected: var(--tabLogoSelectedColor);
  --colorLogoBlock: var(--blockLogoColor);
  --p-spacingXs: 1px;
  --p-spacingSm: 2px;
  --p-spacing1: 0.25rem;
  --p-spacing2: 0.5rem;
  --p-spacing3: 0.75rem;
  --p-spacing4: 1rem;
  --p-spacing5: 1.25rem;
  --p-spacing6: 1.5rem;
  --p-spacing7: 1.75rem;
  --p-spacing8: 2rem;
  --p-spacing9: 2.25rem;
  --p-spacing10: 2.5rem;
  --p-logoLightDisplay: block;
  --p-logoDarkDisplay: none;
  --p-logoTabLightDisplay: block;
  --p-logoTabDarkDisplay: none;
  --p-logoTabSelectedLightDisplay: block;
  --p-logoTabSelectedDarkDisplay: none;
  --p-logoBlockLightDisplay: block;
  --p-logoBlockDarkDisplay: none;
  -webkit-font-smoothing: antialiased;
  color: #30313d;
}

.shippingFormInput {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #d9d9d9;
  height: 2.5rem;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
}

.slick-dots {
  position: initial !important;
  width: auto !important;
  text-align: center !important;
  margin: 0 auto !important;
}

.slick-dots li {
  border: #1e1e1e solid 0.05em !important;
  width: 6rem !important;
  height: 6rem !important;
}

.cartBlur > *:not(.header) {
  filter: blur(0.33rem) grayscale(1) invert(1) brightness(0.75) contrast(0.5);
  pointer-events: none;
}

.cartBlur header {
  filter: none !important;
  pointer-events: auto !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.image-loader {
  width: 3rem;
  height: 3rem;
  border: 0.3125rem solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
