# MacOS Files
.DS_Store

# Keys
/config

# Node Modules
/server/node_modules
/client/node_modules

# Design Files
/wireframes

# Misc
.prettierignore

# Environments
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# Dependencies
/client/.pnp
/client/.pnp.js

# Testing
/client/coverage

# Production
/client/build

# Logs
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*